@model JobPortal.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card p-4" style="border-radius: 15px;">
                <h2 class="text-center">Login</h2>
                <form action="/Home/Login" method="post" onsubmit="return validateForm();">
                    @Html.AntiForgeryToken()
                    <div class="form-group mt-3">
                        <label for="Username">Username</label>
                        <input type="text" name="Username" id="Username" placeholder="Username" class="form-control" style="border-radius: 20px;" />
                        <span id="error-username" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label for="Password">Password</label>
                        <input type="password" name="Password" id="Password" placeholder="Password" class="form-control" style="border-radius: 20px;" />
                        <span id="error-password" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-3">
                        <input type="checkbox" id="remember">
                        <label for="remember" title="Coming soon">Remember Me</label> &nbsp;
                        <a href="#" style="text-decoration: none;" title="Coming soon">Forgot Password?</a>
                    </div>
                    <div class="form-group text-center mt-3">
                        <input type="submit" value="Login" class="btn-reg" />
                    </div>
                </form>
                <div class="act-link text-center mt-3">
                    <p>Not a member? <a href="@Url.Action("JobSeekerRegister","Home")" style="text-decoration:none">Register now</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/MyScripts/main.js"></script>

<script>
    function preventBack() {
        window.history.forward();
    }
    setTimeout("preventBack()", 0);
    window.onunload = function () {
        null;
    }
</script>
